https://github.com/fact-project/photon_stream/archive/master.tar.gz
https://github.com/Laurits7/circlehough/archive/master.tar.gz
https://github.com/fact-project/single_photon_extractor/archive/master.tar.gz
scoop
